#GITIGNORE FOR MC-EXTREME

*.class

# Package Files #
*.jar
*.war
*.ear
*.bat
*.sh

/bin
/conf
/docs
/eclipse
/jars
/lib
/logs
/reobf
/runtime
/temp
CHANGELOG
LICENSE.txt
/src/minecraft/cpw
/src/minecraft/ibxm
/src/minecraft/net
/src/minecraft/paulscode
/src/minecraft/deobfuscation_data-1.6.2.lzma
/src/minecraft/fml_at.cfg
/src/minecraft/fml_marker.cfg
/src/minecraft/fmlversion.properties
/src/minecraft/forge_at.cfg
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/mcpmod.info
/src/minecraft/Start.java
/src/minecraft/assets/forge